includes:
    - vendor/saschaegerer/phpstan-typo3/extension.neon

parameters:
  # Use local .cache dir instead of /tmp
  tmpDir: .cache/phpstan

  parallel:
    # Don't be overly greedy on machines with more CPU's to be a good neighbor especially on CI
    maximumNumberOfProcesses: 5

  level: 9

  checkThisOnly: false
  checkPhpDocMissingReturn: false
  reportUnmatchedIgnoredErrors: true
  paths:
    - %currentWorkingDirectory%/Classes/
    - %currentWorkingDirectory%/Configuration/
    - %currentWorkingDirectory%/pi1/
    - %currentWorkingDirectory%/ext_emconf.php
    - %currentWorkingDirectory%/ext_localconf.php
    - %currentWorkingDirectory%/ext_tables.php

  scanFiles:
    - public/typo3conf/ext/formhandler/vendor/parsecsv/php-parsecsv/parsecsv.lib.php

  excludePaths:
    - rector.php

  ignoreErrors:
    - '/^Parameter #1 \$value of function floatval expects array\|bool\|float\|int\|resource\|string\|null, mixed given.$/'
    - '/^Parameter #1 \$value of function intval expects array\|bool\|float\|int\|resource\|string\|null, mixed given.$/'
    - '/^Parameter #1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, array<string, mixed>\|string given.$/'
    - '/^Parameter #1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.$/'
    - '/^Parameter #2 \$values of function vsprintf expects array<bool\|float\|int\|string\|null>, array<int, mixed> given.$/'
