<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:variable name="fieldName" value="{fieldNameFromPath -> formhandler:fieldNameFromPath()}" />
  <f:if condition="{langFile} == ''">
    <f:variable name="langFile" value="{formConfig.langFileDefault}" />
  </f:if>
  <f:variable name="selectedValue" value="{formConfig.fieldsValue.{fieldNameFromPath}}" />
  <div class="type-select form-group">
    <select class="" title="{f:translate(key: 'LLL:EXT:formhandler/Resources/Private/Language/{langFile}:{fieldNameFromPath}_title')}" id="{formConfig.formValuesPrefix}_{fieldNameFromPath}" name="{formConfig.formValuesPrefix}{fieldName}" >
      <option value=""><f:translate key="LLL:EXT:formhandler/Resources/Private/Language/{langFile}:{fieldNameFromPath}_choose" /></option>
      <f:for each="{formConfig.selectsOptions.{selectOptions}}" as="option">
        <option value="{option.value}" {f:if(condition: '{formConfig.formValues.{fieldNameFromPath}} == {option.value}', then: 'selected', else: '')}>{option.title}</option>
      </f:for>
    </select>
    <label for="{formConfig.formValuesPrefix}_{fieldNameFromPath}"
      ><f:translate key="LLL:EXT:formhandler/Resources/Private/Language/{langFile}:{fieldNameFromPath}" /> <f:if condition="{formConfig.fieldsRequired.{fieldName}} == true"> <f:render partial="Required" /> </f:if
    ></label>
    <div class="error">
      <f:for each="{formConfig.fieldsErrors.{fieldName}}" as="fieldError">
        <f:translate key="LLL:EXT:formhandler/Resources/Private/Language/{langFile}:error_{fieldNameFromPath}_{fieldError}" />
      </f:for>
    </div>
  </div>
</html>
